{% load customs %}
{% if request.session.sign %}
{% firstof '' request.session.sign|user_nickname as nickname %}
{% endif %}
<script>
    const data = {% if request.GET.success == '1' %}
    {
        title: 'System',
        msg: '{{nickname}}님 로그인에 성공하셨습니다.',
        auto: true,
    }
    {% elif request.GET.success == '2' %}
    {
        title: 'System',
        msg: '방에 참여하셨습니다. 이제 방에서 활동 가능합니다.',
        auto: true,
    }
    {% elif request.GET.success == '3' %}
    {
        title: 'System',
        msg: '방에서 나갔습니다.',
        auto: true,
    }
    {% elif request.GET.success == '4' %}
    {
        title: 'System',
        msg: '일치하는 유저 정보가 있습니다.',
        auto: true,
    }
    {% elif request.GET.success == '5' %}
    {
        title: 'System',
        msg: '로그아웃 되었습니다.',
        auto: true,
    }
    {% elif request.GET.error == '4' %}
    {
        title: 'System',
        msg: '방을 정보를 수정하는데 문제가 발생했습니다.',
        auto: true,
    }
    {% else %}
    {}
    {% endif %}
    window.addEventListener('load', e=> {
        if(data.hasOwnProperty('title')) addToast(data);
    });
</script>