{% extends './layout.html' %}
{% load customs %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex">
                            <div>
                                <h4 class="card-title">Top Selling Products</h4>
                                <h5 class="card-subtitle">Overview of Top Selling Items</h5>
                            </div>
                            <div class="ms-auto">
                                <div class="dl">
                                    <select class="form-select shadow-none">
                                        <option value="0" selected>Monthly</option>
                                        <option value="1">Daily</option>
                                        <option value="2">Weekly</option>
                                        <option value="3">Yearly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="ms-3">
                                <a class="btn btn-info" href="{% url 'room:create' %}">Create room</a>
                            </div>
                        </div>
                        <!-- title -->
                        <div class="table-responsive">
                            <table class="table mb-0 table-hover align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Title</th>
                                        <th class="border-top-0">Participants</th>
                                        <th class="border-top-0">Master</th>
                                        <th class="border-top-0">Menu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for room in room_list %}
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="m-r-10"><a
                                                        class="btn btn-circle d-flex btn-info text-white">EA</a>
                                                </div>
                                                <div class="">
                                                    <h4 class="m-b-0 font-16 fw-bold">{{room.title}}</h4>
                                                </div>
                                            </div>
                                        </td>

                                        {% with room.num|user_count as count %}
                                        <td>{{count}}</td>
                                        {% endwith %}

                                        {% with room.master|find_user as user %}
                                        <td>
                                            <label class="badge bg-danger">{{user.nickname}}</label>
                                        </td>
                                        {% endwith %}
                                        <td>
                                            {% if request.session.sign.num == room.master %}
                                            <button class="btn btn-success">🛠</button>
                                            <form class="d-inline-block" action="{% url 'room:delete' room_num=room.num %}" method="post">
                                                <button class="btn btn-danger">&times;</button>
                                            </form>
                                            {% else %}
                                                {% if room.num|is_crew:request.session.sign.num %}
                                                <a href="{% url 'room:enter' room_num=room.num %}" class="btn btn-success">👈 Enter</a>
                                                <form class="d-inline-block" action="{% url 'room:out' room_num=room.num %}" method="post">
                                                    <input type="hidden" name="user_num" value="{{request.session.sign.num}}">
                                                    <button type="submit" class="btn btn-danger">👋 Out</button>
                                                </form>
                                                {% else %}
                                                <form class="d-inline-block" action="{% url 'room:join' room_num=room.num %}" method="post">
                                                    <input type="hidden" name="user_num" value="{{request.session.sign.num}}">
                                                    <button type="submit" class="btn btn-info">👈 Join the room</button>
                                                </form>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">
                                            <div class="alert alert-warning">
                                                참여 가능한 방이 없습니다.
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}