{% extends './layout.html' %}

{% block content %}
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal form-material" action="{% if request.session.sign == '' %}{% url 'account:signup' %}{% else %}{% url 'account:update' num=request.session.sign.num %}{% endif %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="m-t-30 text-center">
                            <label for="profile">
                                {% if request.session.sign != '' %}
                                <img id="relProfile" src="/media/{{request.session.sign.profile}}" class="rounded-circle" width="150" height="150" />
                                {% else %}
                                <img id="relProfile" src="http://placehold.jp/150x150.png" class="rounded-circle" width="150" height="150" />
                                {% endif %}
                            </label>
                            <input ghost type="file" name="profile" id="profile">
                            <h4 id="relNickname" class="card-title m-t-10">{{request.session.sign.nickname | default:'No Name'}}</h4>
                        </div>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div class="card-body">
                    
                        <div class="form-group">
                            <label class="col-md-12">Nick Name</label>
                            <div class="col-md-12">
                                <input type="text" name="nickname" id="nickname" placeholder="Johnathan Doe" class="form-control form-control-line" value="{{request.session.sign.nickname|default:''}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Email</label>
                            <div class="col-md-12">
                                <input type="email" autocomplete="username" placeholder="johnathan@admin.com"
                                    class="form-control form-control-line" name="email"
                                    id="email" value="{{request.session.sign.email|default:''}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Password</label>
                            <div class="col-md-12">
                                <input type="password" 
                                name="password" autocomplete="current-password" placeholder="password" class="form-control form-control-line">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success text-white">Sign Up</button>
                                {% if request.session.sign != '' %}
                                <button class="btn btn-danger text-white" id="unsign" dir="{% url 'account:unsign' num=1 %}" type="button">Un Sign</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <!-- Column -->
    </div>
</div>
{% endblock %}