{% extends '../layout.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">일정 등록</h5>
    <form method="post" class="post-form my-3" novalidate>
        {% csrf_token %}
        <!-- 오류 표시 Start -->
        {% comment %} {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %} {% endcomment %}
        <!-- 오류 표시 End -->
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

<script>
    const params = {};
    const valid = location.search.slice(1).split('&').map(a=>a.split('=')).map(x=>{
        params[x[0]] = x[1];
    });

    const start = document.getElementById('id_start_date');
    const end = document.getElementById('id_end_date');
    const rnum = document.getElementById('id_room_num');
    const unum = document.getElementById('id_user_num');

    start.value = params.s;
    end.value = params.e;
    rnum.value = params.r_num;

    unum.value = "{{request.session.sign.num}}";
</script>
{% endblock content %}