{% extends '../layout.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>no.</th>
                <th>category</th>
                <th>title</th>
                <th>start_date</th>
                <th>end_date</th>
                <th>updates</th>
            </tr>
        </thead>
        <tbody>
            {% if schedule_list %}
            {% for schedule in schedule_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ schedule.category }}</td>
                <td><a href="{% url 'scheduler:schedule_detail' schedule.num %}">{{ schedule.title }}</a></td>
                <td>{{ schedule.start_date }}</td>
                <td>{{ schedule.end_date }}</td>
                <td>{{ schedule.updates }}</td>
            </tr>
            {% endfor %}
            {% else %} 
            <tr>
                <td colspan="3">일정이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'scheduler:schedule' %}" class="btn btn-primary">일정 등록하기</a>
</div>
{% endblock content %}