{% extends '../layout.html' %}
{% load bootstrap5 %}
{% load customs %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">일정 등록</h5>
    <form method="post" class="post-form my-3" novalidate>
        {% csrf_token %}
        
        {% set calendar.start_date|date:'Y-m-d\TH:i' as start_date %}
        {% set calendar.end_date|date:'Y-m-d\TH:i' as end_date %}

        {% bootstrap_form form %}
        <input type="number" ghost name="room_num" value="{{request.GET.r_num}}">
        <input type="number" ghost name="user_num" value="{{request.session.sign}}">
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

<script>
    const start = document.getElementById('id_start_date');
    const end = document.getElementById('id_end_date');

    start.value = '{{start_date}}';
    end.value = "{{end_date}}";
</script>
{% endblock content %}