{% load sass_tags %}

<link rel="canonical" href="https://www.wrappixel.com/templates/Flexy-admin-lite/" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="static/assets/images/favicon.png">
<!-- Custom CSS -->
<link href="static/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
<link href="static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
<!-- Custom CSS -->
{% comment %} <link href="static/dist/css/style.min.css" rel="stylesheet"> {% endcomment %}
<link rel="stylesheet" href="{% sass_src 'src/scss/style.scss' %}">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">

<!-- calendar -->

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        if(location.href.match(/schedule/g))
        setTimeout(()=>{
            calendar.render();
        }, 100);
      });
</script>