{% load static %}
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.js' %}"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="{% static 'assets/libs/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'dist/js/pages/dashboards/dashboard1.js' %}"></script>
<script src="{% static 'src/custom/script/main.js' %}"></script>